{% extends 'base.html.twig' %}
{% block body %}
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, veritatis eligendi porro nostrum fugiat esse maiores alias, amet velit tenetur eveniet. Cupiditate cumque vitae ratione error molestias rerum dolor quod!</h1>
{% endblock %}